input {
  width: 239px;
  height: 56px;
  border-radius: 7px;
  border: 1px #22cd6f solid;
  background-color: #32373a;
  padding-left: 7px;
  color: white;
  font-size: 1rem;
}
.footer {
  display: flex;
  justify-content: center;
  gap: 50px;
  /* margin: 20px auto; */
}
.first {
  display: flex;
  gap: 7px;
}

.textarea {
  width: 493px;
  height: 100px;
}

input[type="submit"] {
  font-weight: bolder;
  font-size: 17px;
  background-color: #22cd6f;
  color: white;
  padding-top: 0px;
}

.textarea::placeholder {
  /* Most modern browsers support this now. */
  position: relative;
  top: 0;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.submit-button button {
  width: 239px;
  height: 50px;
  border-radius: 7px;
  background-color: #22cd6f;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button img {
  position: relative;
  left: 10px;
}

.error {
  color: red;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.submitted {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #22cd6f;
}
.server-error {
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contact {
  color: white;
}
.heading {
  color: white;
  text-align: center;
  margin-bottom: 3rem;
}

.heading h1 {
  padding-top: 20px;
}
.green {
  color: #22cd6f;
}

.contact img {
  width: 30px;
  height: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 43px;
}

.contact img {
  transition: ease-in-out 0.2s;
}

.contact img:hover {
  transform: scale(1.3);
  transition: ease-in-out 0.2s;
}

footer {
  padding-bottom: 40px;
}

@media screen and (max-width: 480px) {
  .first input {
    width: 100px;
  }
  .textarea {
    width: 100px;
  }
}
