* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

nav {
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.one {
  display: flex;
  align-items: center;
  height: 10vh;
  gap: 4.5rem;
}

.one ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  color: #ccc;
  justify-content: center;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

.one ul li {
  padding: 2rem 0;
}

.one ul li:hover {
  border-bottom: solid #08d765 0.05rem;
}

.about {
  background-image: url("assets/images/wlc-bg1.jpg");
  height: 90vh;

  object-fit: fill;
  background-repeat: no-repeat;
}

.logo img {
  width: 80px;
  height: auto;
}

.about {
  color: white;
}

.pic img {
  max-width: 40vw;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .text {
  margin: 0;
  padding: 0;
  margin-left: 3rem;
  max-width: 60vw;
  position: relative;
  bottom: 3rem;
}

.about .pic {
  margin-right: 1rem;
}

.typed-cursor {
  font-size: 4rem;
}
.typed-green {
  font-size: 3.5rem;
  color: #08d765;
}

.text h1 {
  letter-spacing: 0.1rem;
}

.green {
  color: #08d765;
  margin-bottom: 1.5rem;
}

.resume-button {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 12vw;
  background-color: #08d765;
  border-radius: 8px;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  border: 0;
}

.arrow-icon img {
  width: 1.5rem;
  height: auto;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 4vh;
}

.services-container {
  background-image: url("assets/images/footer-bg.png");
  height: 100vh;
  background-size: cover;
}

.services {
  margin: 0 auto;
  width: 77vw;
  position: relative;
  top: 4rem;
}

.card {
  background-color: #121617;

  color: white;
  height: 45vh;
  width: 35vw;
}

.card:hover {
  background-color: linear;
}

.services-heading {
  display: flex;
  color: white;
  justify-content: space-between;

  margin-bottom: 10vh;
}

.main-heading h1 {
  font-size: 2.2rem;
  letter-spacing: 0px;
  color: white;
}

.main-heading p {
  color: #08d765;
  font-weight: bold;
}

.one-liner {
  text-align: left;
  width: 35vw;
  display: flex;
  align-items: center;
  gap: 2vw;
  font-size: 1.2rem;
}

.one-liner p {
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: white;
}

.green-sol {
  color: #08d765;
}

.vertical-line {
  background-color: #08d765;
  width: 0.7vw;
  height: 8vh;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #08d765;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.service-content h1 {
  color: #08d765;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.service-content p {
  color: #ccc;
  font-size: 1.3rem;
}

.service-content {
  text-align: center;
  padding: 1rem;
}

.icon img {
  height: 11vh;
  width: 11vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .box {
  position: relative;
  width: 20vw;
  height: 41vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.container .box:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation-delay: -1s;
}

.container .box:hover span:after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translate(-10px);
  }
}

.container .box .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transition: 0.8s ease;
  color: #fff;
}

.container .box:hover .content {
  left: -25px;
  padding: 60px 40px;
  transition: 0.8s ease;
}

.container .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box .content a:hover {
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

.skills-container {
  background-image: url("src/assets/images/about-bg.png");
  background-repeat: repeat;
  background-position: center;
  background-size: fill;
  object-fit: cover;
  height: 50vh;
}

.skills-img {
  width: 65vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

.skills-img img {
  height: 11vh;
  width: 11vh;
}

.skills-heading {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2vw;
  align-items: center;
  margin-bottom: 5rem;
}

.skills-heading h1 {
  font-size: 2.8rem;
  position: relative;
  top: 2rem;
}

.green-set {
  color: #08d765;
}

.skills-heading img {
  height: 7vh;
  width: 7vh;
  position: relative;
  top: 2rem;
}

.skills {
  background-image: url("src/assets/images/map.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.projects-container {
  background-image: url("src/assets/images/project-bg.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: fill;
  object-fit: cover;
  height: 80vh;
}

.projects-heading {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 3rem;
}

.card {
  background-color: #121617;
  height: 47vh;
  width: 25vw;
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
}

.card img {
  object-fit: contain;
  overflow-x: hidden;
}

.footer-container {
  background-image: url("../src/assets/images/testimonials-bg.png");
  background-size: fill;
  padding: 20px;
}
